* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-bold-webfont.eot");
  src: url("fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"),
  url("fonts/montserrat-bold-webfont.woff2") format("woff2"),
  url("fonts/montserrat-bold-webfont.woff") format("woff"),
  url("fonts/montserrat-bold-webfont.ttf") format("truetype"),
  url("fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-bolditalic-webfont.eot");
  src: url("fonts/montserrat-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("fonts/montserrat-bolditalic-webfont.woff2") format("woff2"),
  url("fonts/montserrat-bolditalic-webfont.woff") format("woff"),
  url("fonts/montserrat-bolditalic-webfont.ttf") format("truetype"),
  url("fonts/montserrat-bolditalic-webfont.svg#montserratbold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-italic-webfont.eot");
  src: url("fonts/montserrat-italic-webfont.eot?#iefix") format("embedded-opentype"),
  url("fonts/montserrat-italic-webfont.woff2") format("woff2"),
  url("fonts/montserrat-italic-webfont.woff") format("woff"),
  url("fonts/montserrat-italic-webfont.ttf") format("truetype"),
  url("fonts/montserrat-italic-webfont.svg#montserratitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-regular-webfont.eot");
  src: url("fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("fonts/montserrat-regular-webfont.woff2") format("woff2"),
  url("fonts/montserrat-regular-webfont.woff") format("woff"),
  url("fonts/montserrat-regular-webfont.ttf") format("truetype"),
  url("fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-semibold-webfont.eot");
  src: url("fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"),
  url("fonts/montserrat-semibold-webfont.woff2") format("woff2"),
  url("fonts/montserrat-semibold-webfont.woff") format("woff"),
  url("fonts/montserrat-semibold-webfont.ttf") format("truetype"),
  url("fonts/montserrat-semibold-webfont.svg#montserratsemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-semibolditalic-webfont.eot");
  src: url("fonts/montserrat-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("fonts/montserrat-semibolditalic-webfont.woff2") format("woff2"),
  url("fonts/montserrat-semibolditalic-webfont.woff") format("woff"),
  url("fonts/montserrat-semibolditalic-webfont.ttf") format("truetype"),
  url("fonts/montserrat-semibolditalic-webfont.svg#montserratsemibold_italic") format("svg");
  font-weight: 600;
  font-style: italic;
}

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 128rem;
  margin: auto;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  padding: 2rem;
  text-align: center;
  border-bottom: 0.2rem solid black;
}

.header-content .logo {
  margin: auto;
  height: 8rem;
}

.alt-logo {
  display: none;
}

a, a:hover {
  text-decoration: none;
}

h1 {
  color: #9400d3;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-weight: 600;
  line-height: 1.3;
}

img {
  display: block;
  max-width: 100%;
}

.col-3 {
  margin-bottom: 2rem;
}

.col-3:last-child {
  margin-bottom: 0;
}

/* MAIN */

.main-content {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.main-content img {
  margin: auto;
}

/* FIM MAIN */

.titulo {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 2rem;
}

p {
  line-height: 1.3;
}

/* POST EM DESTAQUE */

.highlight-post .metadata {
  display: inline-block;
  margin-bottom: 1rem;
}

.highlight-post p {
  font-size: 1rem;
}

.highlight-post a {
  display: block;
  color: #8a00e2;
  font-weight: 600;
  padding: 1rem 0;
}

/* FIM POST EM DESTAQUE */

/* FORM */

.form-lateral--header {
  background-color: #8a00e2;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.form-lateral--content {
  background-color: #e7e7e7;
  padding: 2rem;
}

.contact-form fieldset {
  border: none;
  margin-bottom: 1.5rem;
}

.contact-form label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.contat-form--input {
  background-color: #fff;
  border: none;
  border-radius: 0.4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}

.contact-form--button {
  background-color: #8a00e2;
  border: none;
  border-radius: 0.8rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  opacity: 0.8;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.contact-form--button:hover {
  opacity: 1;
  background-color: #fff;
  color: #8a00e2;
}

/* FIM FORM */


/* AREA DESTAQUE */
.area-destaque {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4rem;
}

.area-destaque--texto {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.area-destaque--texto > p {
  line-height: 1.3;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.area-destaque--texto > .metadata {
  font-size: 1.7rem;
}

/* FIM AREA DESTAQUE */

/* AREA CONTEUDO */
.area-conteudo {
  max-width: 96rem;
  margin: auto;
}

.area-conteudo h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.area-conteudo h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  padding: 0;
  text-align: left;
}

.area-conteudo p {
  line-height: 1.5;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* FIM AREA CONTEUDO */

/* POSTS HOME */
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.post {
  margin-bottom: 3rem;
}

.post h3 {
  color: #8a00e2;
}

.post .metadata {
  display: inline-block;
  margin-bottom: 2rem;
}

.post img {
  margin-bottom: 2rem;
  width: 100%;
}

.post a {
  color: #000;
  display: block;
}

.post a > * {
  transition: all 0.5s ease-in-out;
}

.post p {
  line-height: 1.5;
  font-size: 0.8rem;
  text-align: justify;
}

.post span {
  display: block;
  color: #8a00e2;
  font-weight: 600;
  padding: 1rem 0;
}

.span-post {
  font-size: 1rem;
}

/* FIM POSTS HOME */

/* FOOTER */

.footer {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}

.footer .logo {
  margin: 0 auto 2rem;
  height: 8rem;
}

.footer--social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer--social > a {
  border-radius: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 4.8rem;
  min-height: 4.8rem;
  transition: all 0.5s ease-in-out;
}

/* FIM FOOTER */

/* MEDIA QUERY */

@media (min-width: 768px) and (max-width: 1024px) {
  .posts {
    justify-content: space-between;
    align-items: normal;
  }

  .col-3, .post {
    max-width: calc(97% / 2);
  }

  .post {
    display: flex;
    position: relative;
    padding-bottom: 4.8rem;
  }

  .post span {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 1025px) {
  .main-content {
    align-items: normal;
    justify-content: space-between;
  }

  .posts {
    justify-content: space-between;
    align-items: normal;
  }

  .col-3, .post {
    max-width: calc(96% / 3);
  }

  .post {
    display: flex;
    position: relative;
    padding-bottom: 48px;
  }

  .post span {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .post a:hover h3,
  .post a:hover span {
    color: #222;
  }

  .titulo {
    margin-bottom: 0;
  }

  .area-destaque {
    align-items: normal;
    justify-content: space-between;
  }

  .area-destaque--texto {
    max-width: calc(50% - 10px);
  }

  .area-destaque--texto > .metadata {
    align-self: flex-end;
    margin-bottom: 0;
  }

  .area-destaque--img {
    align-self: flex-start;
    max-width: calc(50% - 10px);
  }

  .footer--social > a:hover {
    background-color: #8a00e2;
  }
}
